.wh32{
	width: 32rpx;
	height: 32rpx;
}
.wh26{
	width: 26rpx;
	height: 26rpx;
}
.wh30{
	width: 30rpx;
	height: 30rpx;
}
.wh40{
	width: 40rpx;
	height: 40rpx;
}
.wh24{
	width: 24rpx;
	height: 24rpx;
}
.wh36{
	width: 36rpx;
	height: 36rpx;
}
.w50{
	width: 50%;
}
.wh90{
	width: 90rpx;
	height: 90rpx;
}
.wh346{
	width: 346rpx;
	height: 346rpx;
}
.h210{
	height: 210rpx;
}
.h390{
	height: 390rpx;
}
.h50{
	height: 50rpx;
}
.h300{
	height: 300rpx;
}
.h170{
	height: 170rpx;
}
.h80{
	height: 80rpx;
}
.h64{
	height: 64rpx;
}


